body {
    margin: 0;
    height: 100vh; /*100% hauteur d'ecran*/
    background: #1b1b1b;
    cursor: none;  /*Cache la souris*/
    overflow: hidden;
}

.curseur {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    animation: cursorAnim 0.5s infinite alternate;
}

.curseur::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: 0.5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 0.5s infinite alternate;
}

.expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid red;
}


@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}


@keyframes cursorAnim2{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.4);
    }
}


@keyframes cursorAnim3{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}